@import "tailwindcss";

/* Control dark mode manually */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Geist Font */
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);

  --animate-up-down-1: up-down 0.3s ease-in-out;
  --animate-up-down-2: up-down 0.3s ease-in-out 0.1s;
  --animate-up-down-3: up-down 0.3s ease-in-out 0.2s;


  @keyframes up-down {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-1px);
    }
    40% {
      transform: translateY(-1px);
    }
    60% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}
